body{
  text-align:center;
  font-family: cursive;
  letter-spacing:1px;
  background-image: url(./img/background.png);
  padding:2rem;
}
h1{
  font-size:2.5em
}
main{
  margin-left:4vw;
  margin-right:4vw;
}

#title{
  text-transform: capitalize;
  letter-spacing:1.5px;
 
}

h2{
  text-align:left;
}

.title p{
  text-transform: none;
}

@media screen and (max-width:480px){
   #main {
    margin: 0;
  }
  
  h1{
    font-size: 1.8em;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}




figure{
  display: flex-column;  
  background: lightgray;
  }
  
  

h2{
  text-align:left;
  letter-spacing:1px;
  font-size:1.4em;
}

a{
  color:black;
}

#tribute-info{
  background: lightgray;
  padding:2rem;
  text-align: justify;
  
  
}